<h1 class="display-4" style="text-align:center" >Sign Up</h1>
<br/>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <%= form_with model: @user do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name, autofocus: true, required: true, class: "form-control", placeholder: "First name"%>
        </div>

        <div class="form-group">
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name, autofocus: true, required: true, class: "form-control", placeholder: "Last name"%>
        </div>

        <div class="form-group">
          <%= f.label :username %><br />
          <%= f.text_field :username, autofocus: true, required: true, class: "form-control", placeholder: "Username"%>
        </div>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, class: "form-control", placeholder: "Email"%>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", required: true, class: "form-control", placeholder: "Password"%>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true, class: "form-control", placeholder: "Password"%>
        </div>

        <div class="form-group" hidden>
          <%= f.label :access_right_enum %><br />
          <%= f.text_field :access_right_enum, value: 1 %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: "btn btn-primary mb-2" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
