<%= form_with(model: sale_transaction) do |form| %>
  <% if sale_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sale_transaction.errors.count, "error") %> prohibited this sale_transaction from being saved:</h2>

      <ul>
        <% sale_transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :transaction_id %>
    <%= form.number_field :transaction_id %>
  </div>

  <div class="field">
    <%= form.label :total_line_item %>
    <%= form.number_field :total_line_item %>
  </div>

  <div class="field">
    <%= form.label :total_quantity %>
    <%= form.number_field :total_quantity %>
  </div>

  <div class="field">
    <%= form.label :total_amount %>
    <%= form.text_field :total_amount %>
  </div>

  <div class="field">
    <%= form.label :decimal %>
    <%= form.text_field :decimal %>
  </div>

  <div class="field">
    <%= form.label :transaction_date %>
    <%= form.text_field :transaction_date %>
  </div>

  <div class="field">
    <%= form.label :Date %>
    <%= form.text_field :Date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
