<h1>My Sale Transactions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Transaction ID</th>
      <th>Total line item</th>
      <th>Total quantity</th>
      <th>Total amount</th>
      <th>Transaction date</th>
    </tr>
  </thead>

  <tbody>
    <% @sale_transactions.each do |sale_transaction| %>
      <tr>
        <td><%= sale_transaction.id %></td>
        <td><%= sale_transaction.total_line_item %></td>
        <td><%= sale_transaction.total_quantity %></td>
        <td><%= number_to_currency(sale_transaction.total_amount) %></td>
        <td><%= sale_transaction.transaction_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>