<h1 class="display-4" style="text-align:center" >My Sale Transactions</h1>
<br/>

<div class="container">
  <div class="row justify-content-center">
    <div class="canvasContainer" style="width: 500px;">
        <canvas id="transactionChart"></canvas>
    </div>
  </div>
  <br/>
  <br/>

  <div class="row justify-content-center">
    <table id="table_transactions" class="display table table-striped table-bordered" role="datatable" style="width:100%">
      <thead>
        <tr>
          <th>Transaction ID</th>
          <th>Total line item</th>
          <th>Total quantity</th>
          <th>Total amount</th>
          <th>Transaction date</th>
          <th>Download</th>
        </tr>
      </thead>

      <tbody>
        <% @sale_transactions.each do |sale_transaction| %>
          <tr>
            <td><%= sale_transaction.id %></td>
            <td><%= sale_transaction.total_line_item %></td>
            <td><%= sale_transaction.total_quantity %></td>
            <td><%= number_to_currency(sale_transaction.total_amount) %></td>
            <td><%= sale_transaction.transaction_date %></td>
            <td>
              <%= link_to (sale_transaction_url(format: :xlsx, id: sale_transaction)) do %>
                <%= fa_icon "download" %> Excel
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#table_transactions').DataTable({
      order: [[ 4, 'desc' ]]
    });

    var dateArray = [];
    var amountArray = [];
    $('#table_transactions').find('tr').each(function (i, el) {
      var $tds = $(this).find('td'),
          amount = $tds.eq(3).text(),
          date = $tds.eq(4).text();
          var currAmount = parseInt(amount.replace(/\D/g,''));
          currAmount /= 100;
          if(dateArray[dateArray.length-1] === date) {
            amountArray[amountArray.length-1] += currAmount;
          } else {
            dateArray.push(date);
            amountArray.push(currAmount);
          }
    });

    var transactions = {
        labels : dateArray,
        datasets : [
          {
            data : amountArray,
            label: 'Amount/Day (SGD)',
            fill: false,
            borderColor: 'rgb(75, 192, 192)',
            tension: 0.1
          }
        ]
    }

    var context = document.getElementById('transactionChart').getContext('2d');
    new Chart(context , {
      type: "line",
      data: transactions, 
      options: {
        responsive: true,
        maintainAspectRatio: true,
        showScale: false,
        plugins: {
          legend: {
            position: 'top',
          }
        }
      },
    });
  });
</script>