<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/" style="font-family:'Courier New'; font-size: 40px;">Depot</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" style="font-size: 20px;">
        <%= link_to (root_path),  method: :get, class: 'nav-link' do %>
          <%= fa_icon "home" %> Home
        <% end %>
      </li>
      
      <% if user_signed_in? %>
        <% if current_user.access_right_enum == 1 %>
          <li class="nav-item" style="font-size: 20px;">
            <%= link_to (carts_url), method: :get, class: 'nav-link' do %>
              <%= fa_icon "shopping-cart" %> My Cart
            <% end %>
          </li>
          <li class="nav-item" style="font-size: 20px;">
            <%= link_to (sale_transactions_url),  method: :get, class: 'nav-link' do %>
              <%= fa_icon "list" %> My Transactions
            <% end %>
          </li>
        <% else %>
          <li class="nav-item" style="font-size: 20px;">
            <%= link_to (product_parts_url),  method: :get, class: 'nav-link' do %>
              <%= fa_icon "wrench" %> Product Parts
            <% end %>
          </li>
        <% end%>
        <li class="nav-item" style="font-size: 20px;">
          <%= link_to (destroy_user_session_path), method: :delete, class: 'nav-link' do %>
            <%= fa_icon "sign-out" %> Sign Out
          <% end %>
        </li>
      <% else %>
        <li class="nav-item" style="font-size: 20px;">
          <%= link_to (new_user_registration_path), class: 'nav-link' do %>
            <%= fa_icon "user-o" %> Register
          <% end %>
        </li>
        <li class="nav-item" style="font-size: 20px;">
          <%= link_to (new_user_session_path), class: 'nav-link' do %>
            <%= fa_icon "sign-in" %> Sign in
          <% end %>
        </li>
      <% end %>
    </ul>

  </div>
</nav>