<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/" style="font-family:'Courier New'; font-size: 40px;">Depot</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active" style="font-size: 20px;">
        <span style="display:flex; flex-direction: row; align-items: center;">
          <%= fa_icon "home" %>
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </span>
      </li>
      
      <% if user_signed_in? %>
        <% if current_user.access_right_enum == 1 %>
          <li class="nav-item" style="font-size: 20px;">
            <span style="display:flex; flex-direction: row; align-items: center;">
              <%= fa_icon "shopping-cart" %>
              <%= link_to 'My cart', carts_url, method: :get, class: 'nav-link' %>
            </span>
          </li>
          <li class="nav-item" style="font-size: 20px;">
            <span style="display:flex; flex-direction: row; align-items: center;">
              <%= fa_icon "list" %>
              <%= link_to 'My transaction', sale_transactions_url,  method: :get, class: 'nav-link' %>
            </span>
          </li>
        <% end%>
        <li class="nav-item" style="font-size: 20px;">
            <span style="display:flex; flex-direction: row; align-items: center;">
              <%= fa_icon "sign-out" %>
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
            </span>
        </li>
      <% else %>
        <li class="nav-item" style="font-size: 20px;">
            <span style="display:flex; flex-direction: row; align-items: center;">
              <%= fa_icon "user-o" %>
              <%= link_to 'Register', new_user_registration_path, class: 'nav-link' %>
            </span>
        </li>
        <li class="nav-item" style="font-size: 20px;">
            <span style="display:flex; flex-direction: row; align-items: center;">
              <%= fa_icon "sign-in" %>
              <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
            </span>
        </li>
      <% end %>
    </ul>

  </div>
</nav>