<table class="table">
  <thead>
    <tr>
      <th scope="col">Line Item Id</th>
      <th scope="col">Quantity</th>
      <th scope="col">Subtotal</th>
      <th scope="col" colspan="3" style="text-align:center" >Action</th>
    </tr>
  </thead>

  <tbody>
    <% @cart.sale_transaction_line_items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.quantity %></td>
        <td><%= number_to_currency(item.subtotal) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>Cart Total: <%= number_to_currency(@cart.total_price) %></p>
<br/>
<%= button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure?' } %>
