<%= form_with(model: sale_transaction_line_item) do |form| %>
  <% if sale_transaction_line_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sale_transaction_line_item.errors.count, "error") %> prohibited this sale_transaction_line_item from being saved:</h2>

      <ul>
        <% sale_transaction_line_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :item_id %>
    <%= form.number_field :item_id %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :subtotal %>
    <%= form.text_field :subtotal %>
  </div>

  <div class="field">
    <%= form.label :decimal %>
    <%= form.text_field :decimal %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
