<p id="notice"><%= notice %></p>

<h1>Sale Transaction Line Items</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Subtotal</th>
      <th>Decimal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sale_transaction_line_items.each do |sale_transaction_line_item| %>
      <tr>
        <td><%= sale_transaction_line_item.item_id %></td>
        <td><%= sale_transaction_line_item.quantity %></td>
        <td><%= sale_transaction_line_item.subtotal %></td>
        <td><%= sale_transaction_line_item.decimal %></td>
        <td><%= link_to 'Show', sale_transaction_line_item %></td>
        <td><%= link_to 'Edit', edit_sale_transaction_line_item_path(sale_transaction_line_item) %></td>
        <td><%= link_to 'Destroy', sale_transaction_line_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sale Transaction Line Item', new_sale_transaction_line_item_path %>
