<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @sale_transaction_line_item.item_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @sale_transaction_line_item.quantity %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @sale_transaction_line_item.subtotal %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sale_transaction_line_item.decimal %>
</p>

<%= link_to 'Edit', edit_sale_transaction_line_item_path(@sale_transaction_line_item) %> |
<%= link_to 'Back', sale_transaction_line_items_path %>
