<%= form_with(model: product, local: false) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
  <%= form.label :name %><br/>
  <%= form.text_field :name, required: true, class: "form-control", placeholder: "Product name"%>
</div>

<div class="form-group">
  <%= form.label :model %><br/>
  <%= form.text_field  :model, required: true, class: "form-control", placeholder: "Model name"%>
</div>

<div class="form-group">
  <%= form.label :delivery %><br/>
  <%= form.text_field  :delivery, required: true, class: "form-control", placeholder: "Delivery address"%>
</div>

<div class="form-group">
  <%= form.label :description %><br/>
  <%= form.text_area :description, required: true, class: "form-control", placeholder: "Product description"%>
</div>

<div class="form-group">
  <%= form.label :unit_price %><br/>
  <%= form.number_field  :unit_price, required: true, in: 1.0..10000.0, class: "form-control", placeholder: "Product price"%>
</div>

<div class="form-group">
  <%= form.label :category %><br/>
  <select name="category[]" multiple="multiple" style="width:100%">
    <option value="Gameboy">Gameboy</option>
    <option value="T-shirt">T-shirt</option>
    <option value="Jewellery">Jewellery</option>
    <option value="Jeans">Jeans</option>
  </select>
  <small class="form-text text-muted">Select at least one.</small>
</div>

<div class="form-group">
  <%= form.label :images %><br/>
  <%= form.file_field :images, multiple: true, class: "form-control-file"%>
</div>

<%= form.submit class: "btn btn-primary mb-2"%>

<% end %>
