<div class="card" style="width: 20rem;">
    <div class="card-img-top">
        <% if product.images.first.present? %>
            <%= image_tag product.images.first, class: "card-img-top" %>
            <%= link_to "Download", rails_blob_path(product.images.first, disposition: 'attachment') %>
        <% else %>
            <img class="card-img-top" src="https://picsum.photos/286/180" alt="Card image cap">
        <% end %>
    </div>
    <div class="card-body">
    <h5 class="card-title"><%= product.name %></h5>
    <p class="card-text"><%= number_to_currency(number_with_delimiter(product.unit_price, delimiter: ",")) %></p>
    <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: 'btn btn-primary' %>
    </div>
</div>
<br/>
