<br/>

<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-4 text-muted" style="color: #444444 !important;"><%= @product.name %></h1>
      <br/>
      <p class="text-muted text-uppercase medium"><%= fa_icon "tags", style: "font-size: 30px;" %> <span style="font-size: 20px;"><%= @product.category %></span></p>
      <div id="carouselImages" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <%= image_tag @product.show_image(@product.images.first), class: "d-block w-100" %>
              <div class="carousel-caption d-none d-md-block">
                <%= link_to rails_blob_path(@product.images.first, disposition: 'attachment') do %>
                  <%= fa_icon "download", style: "font-size: 20px; padding: 5px 5px;background-color: white; color: blue; border-radius: 50%;" %>
                <% end %>
              </div>
          </div>
          <% (1...@product.images.count).each do |image|  %>
            <div class="carousel-item text-center">
                <%= image_tag @product.show_image(@product.images[image]), class: "d-block w-100" %>
                <div class="carousel-caption d-none d-md-block">
                  <%= link_to rails_blob_path(@product.images[image], disposition: 'attachment') do %>
                    <%= fa_icon "download", style: "font-size: 20px; padding: 5px 5px;background-color: white; color: blue; border-radius: 50%;" %>
                  <% end %>
                </div>
            </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselImages" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselImages" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <br/>
      <div class="lead" style="color: gray; width: 30rem;"><%= fa_icon "info" %> &nbsp; <%= @product.description %></div>
      <br/>
      <div class="table-responsive">
        <table class="table borderless table-sm">
          <tbody>
            <tr>
              <th class="text-muted" scope="row"><strong>Model</strong></th>
              <td class="text-muted"><%= @product.model %></td>
            </tr>
            <tr>
              <th class="text-muted" scope="row"><strong>Color</strong></th>
              <td class="text-muted"><%= @product.color %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div style="border-bottom: 1px solid gray;"></div>
      <br/>
      <div style="display:flex; flex-direction: row; align-items: center;">
        <% if user_signed_in? == true && current_user.access_right_enum == 2 %>
          <%= link_to (edit_product_path(@product)), remote: true, class: 'btn btn-primary', style: "color: white" do %>
            <%= fa_icon "pencil" %> Edit Product
          <% end %>
          &nbsp;
          <%= link_to (@product), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary', style: "color: white" do %>
            <%= fa_icon "trash" %> Delete Product
          <% end %>
        <% else %>
          <%= link_to (sale_transaction_line_items_path(product_id: @product)), method: :post, class: 'btn btn-primary', style: "color: white" do %>
            <%= fa_icon "shopping-cart" %> Add To Cart
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalProduct" tabindex="-1" role="dialog" aria-labelledby="modalProductTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Product Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="modalBody" class="modal-body">
      </div>
    </div>
  </div>
</div>