<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true%>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <% flash.each do |type, msg| %>
      <% if type == "error" %>
        <div style="color:red;">
          <%= msg %>
        </div>
      <% else %>
        <div>
          <%= msg %>
        </div>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
