<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true%>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

  </head>

  <body>
    <%= render 'shared/navbar' %>
    
    <% flash.each do |type, msg| %>
      <% if type == "error" %>
        <div class="alert alert-danger" role="alert">
          <%= msg %>
        </div>
      <% else %>
        <div class="alert alert-info" role="alert">
          <%= msg %>
        </div>
      <% end %>
    <% end %>
    <%= yield %>

    <script>
      //SCRIPT FOR SIDE BAR
      function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
        document.getElementById("openbtn").style.opacity = "0";
      }

      function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
        document.getElementById("openbtn").style.opacity = "1";
      }
    </script>

  </body>
</html>
